<a href="https://colab.research.google.com/github/tomcat472/pandas_mm_tomcat/blob/main/Pandas_11.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# importing libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as pyplot
import seaborn as seaborn
%matplotlib inline

In [2]:
# google drive နှင့်လင့်ချိတ်ခြင်း
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [3]:
df=pd.read_excel('/content/drive/MyDrive/StockX-Data-Contest-2019-3.xlsx',sheet_name='Raw Data')
df

,Order Date,Brand,Sneaker Name,Sale Price,Retail Price,Release Date,Shoe Size,Buyer Region
0,2017-09-01,Yeezy,Adidas-Yeezy-Boost-350-Low-V2-Beluga,1097.0,220,2016-09-24,11.0,California
1,2017-09-01,Yeezy,Adidas-Yeezy-Boost-350-V2-Core-Black-Copper,685.0,220,2016-11-23,11.0,California
2,2017-09-01,Yeezy,Adidas-Yeezy-Boost-350-V2-Core-Black-Green,690.0,220,2016-11-23,11.0,California
3,2017-09-01,Yeezy,Adidas-Yeezy-Boost-350-V2-Core-Black-Red,1075.0,220,2016-11-23,11.5,Kentucky
4,2017-09-01,Yeezy,Adidas-Yeezy-Boost-350-V2-Core-Black-Red-2017,828.0,220,2017-02-11,11.0,Rhode Island
...,...,...,...,...,...,...,...,...
99951,2019-02-13,Yeezy,adidas-Yeezy-Boost-350-V2-Static-Reflective,565.0,220,2018-12-26,8.0,Oregon
99952,2019-02-13,Yeezy,adidas-Yeezy-Boost-350-V2-Static-Reflective,598.0,220,2018-12-26,8.5,California
99953,2019-02-13,Yeezy,adidas-Yeezy-Boost-350-V2-Static-Reflective,605.0,220,2018-12-26,5.5,New York
99954,2019-02-13,Yeezy,adidas-Yeezy-Boost-350-V2-Static-Reflective,650.0,220,2018-12-26,11.0,California
99955,2019-02-13,Yeezy,adidas-Yeezy-Boost-350-V2-Static-Reflective,640.0,220,2018-12-26,11.5,Texas

In [4]:
# ဒီတခုမှာတော့ ကိုယ့်ဘာသာရချင်တဲ့ပုံစံကို function တွေရေးပြီး ဘယ်လိုလုပ်ရမယ်ဆိုတာကို ရှင်းပြသွားမှာဖြစ်ပါတယ်။
# ပထမဆုံးအနေနဲ့ python ရဲ့ function သဘောသဘာဝကို အရင်ဆုံးသိအောင်လုပ်ရပါမယ်။

In [5]:
# function တခုတည်ဆောက်မယ်ဆိုရင် python မှာ def ဆိုတဲ့ keyword ကိုအရင်ရေးပြီးမှ
# function name ကိုရေးပေးရပါတယ်။
def my_fun():
  print('Hello')

my_fun()
# ဒါဆိုရင် function တခုတည်ဆောက်ပြီးပါပြီ။ function ကို call ရင်တော့ အနောက်မှာ () ထည့်ပေးရပါတယ်။

Hello

In [6]:
# parameter ထည့်ပြီးလည်း မိမိလိုချင်တဲ့ output တွေကိုရအောင် လုပ်လို့ရပါတယ်။
def my_fun(name):
  print(f'Hello {name}')

my_fun(name='Jack')

Hello Jack

In [7]:
def my_fun(name, age):
  print(f'My Name is {name} and I\'m {age} year olds.')

my_fun(name='Jack',age=23)

My Name is Jack and I'm 23 year olds.

In [8]:
print(my_fun(name='Will',age=24))
print(my_fun(32,'John'))
# function ကိုခေါ်ရင် parameter ကိုပြန်မရေးချင်ရင် သူ့ index နဲ့သူရေးမှ အဆင်ပြေမှာဖြစ်ပါတယ်။
# ဒုတိယအကြောင်းကို ကြည့်ရင်မြင်သာမယ်လို့ ယူဆပါတယ်။

My Name is Will and I'm 24 year olds.
None
My Name is 32 and I'm John year olds.
None

In [9]:
# ကိန်းဂဏန်းတွေအတွက် function ကိုရေးမယ်ဆိုရင်တော့ return keyword နဲ့ output ထုတ်ရမှာဖြစ်ပါတယ်။
def another(num1,num2):
  addition=num1+num2
  subtraction=num1-num2
  division=num1/num2
  return addition, subtraction, division

In [10]:
another(2,3)

(5, -1, 0.6666666666666666)

In [11]:
# square ရှာခြင်း
def square(x):
  return x**2
print(square(5),square(6),square(7))

25 36 49

In [12]:
# conditional function များ ပြုလုပ်ခြင်း
def my_fun(x):
  if x>=100 and x<=1000:
    return x/100
  else:
    return 'undefined'
  
print(my_fun(50))
print(my_fun(250))
print(my_fun(1000))

undefined
2.5
10.0

In [13]:
# python မှာ lambda ဆိုတဲ့ function လုပ်လို့ရတဲ့ နည်းတနည်းရှိပါသေးတယ်။
add=lambda x,y: x+y
sub=lambda x,y: x-y
division= lambda x,y:x/y
print(add(12,34),sub(12,34),division(12,34),sep='/')

46/-22/0.35294117647058826

In [14]:
# နောက်ထပ် function သုံးလို့ရတဲ့ library တခုရှိပါသေးတယ်။ အဲ့တာကတော့ numpy ဖြစ်ပါတယ်။
# numpy အတွက်လည်း သီးသန့် ပြုလုပ်ပေးပါဦးမယ်။
# လောလောဆယ်ကတော့ np function တွေကိုပဲသုံးသွားပါမယ်။
# numpy ကို စသုံးတော့မယ်ဆိုရင်တော့ import numpy as np ဆိုပြီးရေးရပါတယ်။ 
# import numpy ဆိုတာ library ကိုခေါ်တာဖြစ်ပြီး as np ဆိုတာကတော့ numpy ကိုသုံးဖို့အတွက် အတိုကောက်ရေးတာဖြစ်တယ်။

In [15]:
# np function များ
A=[1,2,3,4,5,6]
print(np.sum(A))
print(np.square(A))
print(np.max(A))
print(np.min(A))
# တခြား function တွေလဲရှိပါသေးတယ်။
# လောလောဆယ်တော့ pandas ကိုပဲအရင်ပြီးအောင်သွားရအောင်။

21
[ 1  4  9 16 25 36]
6
1

In [16]:
# pandas မှာ function တွေသုံးမယ်ဆိုရင် df.col.apply(function) ပုံစံရေးပြီးသုံးရပါတယ်။
df.head(2)

,Order Date,Brand,Sneaker Name,Sale Price,Retail Price,Release Date,Shoe Size,Buyer Region
0,2017-09-01,Yeezy,Adidas-Yeezy-Boost-350-Low-V2-Beluga,1097.0,220,2016-09-24,11.0,California
1,2017-09-01,Yeezy,Adidas-Yeezy-Boost-350-V2-Core-Black-Copper,685.0,220,2016-11-23,11.0,California

In [17]:
# Sale price ၁၀၀၀ အောက်ဆိုရင် ၂၀၀၀ နဲ့မြှောက်ပြီး ၁၀၀၀အထက်ဆိုရင် ၁၅၀၀ နဲ့မြှောက်ဖို့ လုပ်ပါမယ်။
def func(x):
  if x<=1000:
    return x*1000
  else:
    return x*1500

In [18]:
df['Sale Price'].apply(func)
# တကယ်လို့ parameter တွေပါထည့်ရမယ်ဆိုရင်တော့ parameter တန်ဘိုးတွေပါရေးပေးရမှာ ဖြစ်ပါတယ်။

0        1645500.0
1         685000.0
2         690000.0
3        1612500.0
4         828000.0
           ...
99951     565000.0
99952     598000.0
99953     605000.0
99954     650000.0
99955     640000.0
Name: Sale Price, Length: 99956, dtype: float64

In [19]:
# နောက်တခုက numpy function ကို သုံးပြီးတွက်ပြပါမယ်။
df['Sale Price'].apply(np.mean)
# mean တန်ဖိုးတွေကို ရှာပြီး တွက်တာဖြစ်ပါတယ်။
# lambda fucntion နဲ့တွက်တာလဲ ဒီသဘောတရားဖြစ်တာကြောင့်မို့ ဆက်မရှင်းပြတော့ပါဘူး။

0        1097.0
1         685.0
2         690.0
3        1075.0
4         828.0
          ...
99951     565.0
99952     598.0
99953     605.0
99954     650.0
99955     640.0
Name: Sale Price, Length: 99956, dtype: float64

In [20]:
# (11-8-2022)