<a href="https://colab.research.google.com/github/tomcat472/pandas_mm_tomcat/blob/main/Pandas_10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# importing libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
# google drive နှင့်လင့်ချိတ်ခြင်း
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [3]:
df=pd.read_csv('/content/drive/MyDrive/diamonds.csv')
df.head()

   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75

In [4]:
# စာသားများအား အကြီးအသေးပြောင်းခြင်း
# စာသားများနှင့်ဆိုင်သော format များပြောင်းဖို့အတွက် python ရဲ့ built-in string method ကိုသုံးမှာဖြစ်ပါတယ်။
# ပထမဆုံး string ရဲ့သဘောသဘာဝကို လုပ်ကြည့်ရအောင်

txt='I am a boy.'
print(txt.upper()) #စာသားအားလုံးကို အကြီးပြောင်းခြင်း
print(txt.lower()) #စာသားအားလုံးကို အငယ်ပြောင်ခြင်း
print(txt.title()) #စာလုံးတိုင်း၏ အစတိုင်းကို အကြီးအဖြစ်ပြောင်းခြင်း
print(txt.casefold()) #စာလုံးအကြီးကို အသေးပြောင်းခြင်း/ အသေးကိုအကြီးပြောင်းခြင်း
print(txt.capitalize()) #အစစာလုံးကိုသာ အကြီးပြောင်းခြင်း

I AM A BOY.
i am a boy.
I Am A Boy.
i am a boy.
I am a boy.

In [5]:
df.cut.str.upper()
# တခြားဟာတွေကိုလဲ ဒီလိုပဲသုံးလို့ရပါတယ်။

0            IDEAL
1          PREMIUM
2             GOOD
3          PREMIUM
4             GOOD
           ...
53935        IDEAL
53936         GOOD
53937    VERY GOOD
53938      PREMIUM
53939        IDEAL
Name: cut, Length: 53940, dtype: object

In [6]:
# string slicing method ကိုသုံးပြီးလည်း ကိုယ်လိုချင်တဲ့စာလုံးအရေအတွက်ကို ယူလို့ရပါတယ်။
print(txt[0:4])

I am

In [7]:
df.cut.str[0:3]

0        Ide
1        Pre
2        Goo
3        Pre
4        Goo
        ...
53935    Ide
53936    Goo
53937    Ver
53938    Pre
53939    Ide
Name: cut, Length: 53940, dtype: object

In [8]:
lumber=pd.read_csv('/content/drive/MyDrive/lumber-prices.csv')
lumber.head()
# ဒီ data set မှာ string ဖြစ်နေတဲ့ $ sign ပါတဲ့ value တွေကို analysis လုပ်လို့ရအောင်အတွက် 
# datatype ကို အရင်ပြောင်းပြီး တွက်မှရမှာဖြစ်ပါတယ်။

      open     high      low    close                 date
0  $407.00  $424.70  $377.00  $424.70  1996-12-09T00:00:00
1  $426.00  $450.50  $395.00  $411.40  1997-01-02T00:00:00
2  $408.50  $421.50  $382.10  $383.50  1997-02-03T00:00:00
3  $386.00  $389.70  $355.00  $380.50  1997-03-03T00:00:00
4  $378.00  $417.50  $376.50  $403.10  1997-04-01T00:00:00

In [9]:
lumber.info()
# info ကိုကြည့်လိုက်ရင် numerical ပါတဲ့ row တွေကလဲ object data type ဖြစ်နေတဲ့အတွက် datatype တွေကို
# ပြောင်းပေး ရပါတယ်။

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   open    300 non-null    object
 1   high    300 non-null    object
 2   low     300 non-null    object
 3   close   300 non-null    object
 4   date    300 non-null    object
dtypes: object(5)
memory usage: 11.8+ KB

In [10]:
lumber['open_new']=lumber.open.str.replace('$','')
# replace method ဖြသင် $ sign နေရာမှာ whitespace ထားပါမယ်။
# ပြီးရင် မူရင်း data set ထဲပြန်ပြီး assign လုပ်ကြည့်ပါမယ်။

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  """Entry point for launching an IPython kernel.

In [11]:
lumber

        open     high      low    close                 date open_new
0    $407.00  $424.70  $377.00  $424.70  1996-12-09T00:00:00   407.00
1    $426.00  $450.50  $395.00  $411.40  1997-01-02T00:00:00   426.00
2    $408.50  $421.50  $382.10  $383.50  1997-02-03T00:00:00   408.50
3    $386.00  $389.70  $355.00  $380.50  1997-03-03T00:00:00   386.00
4    $378.00  $417.50  $376.50  $403.10  1997-04-01T00:00:00   378.00
..       ...      ...      ...      ...                  ...      ...
295  $716.00  $825.60  $490.00  $621.20  2021-07-01T00:00:00   716.00
296  $623.10  $650.00  $448.00  $482.80  2021-08-02T00:00:00   623.10
297  $482.10  $659.70  $454.40  $627.50  2021-09-01T00:00:00   482.10
298  $637.10  $789.60  $588.50  $591.60  2021-10-01T00:00:00   637.10
299  $595.20  $831.80  $530.10  $824.50  2021-11-01T00:00:00   595.20

[300 rows x 6 columns]

In [12]:
# data ကို assign လုပ်ထားပြီးဖြစ်သည့်အတွက် data info ကို တချက်ပြန်ကြည့်ရအောင်
lumber.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   open      300 non-null    object
 1   high      300 non-null    object
 2   low       300 non-null    object
 3   close     300 non-null    object
 4   date      300 non-null    object
 5   open_new  300 non-null    object
dtypes: object(6)
memory usage: 14.2+ KB

In [13]:
# ဒါပေမယ့် object data type ဖြစ်သည့်အတွက် mathematical operation တွေကို လုပ်လို့မရသေးပါဘူး။
# အဲ့တာကြောင့်မို့ data type ကိုပြောင်းပေးရပါမယ်။
lumber['open_new']=lumber['open_new'].astype(np.float64)

In [14]:
lumber.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   open      300 non-null    object
 1   high      300 non-null    object
 2   low       300 non-null    object
 3   close     300 non-null    object
 4   date      300 non-null    object
 5   open_new  300 non-null    float64
dtypes: float64(1), object(5)
memory usage: 14.2+ KB

In [15]:
# ဒီလောက်ဆိုရင် အသုံးဝင်သည့် string method တချို့ကို နားလည်ပြီဟုယူဆပါတယ်။
# (10-8-2022)

-2020