<a href="https://colab.research.google.com/github/tomcat472/pandas_mm_tomcat/blob/main/Pandas_13.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# importing library
import pandas as pd
import numpy as np

In [2]:
# google drive နှင့်လင့်ချိတ်ခြင်း
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [3]:
df=pd.read_csv('/content/drive/MyDrive/diamonds.csv')
df.head()

   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53940 entries, 0 to 53939
Data columns (total 10 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   carat    53940 non-null  float64
 1   cut      53940 non-null  object
 2   color    53940 non-null  object
 3   clarity  53940 non-null  object
 4   depth    53940 non-null  float64
 5   table    53940 non-null  float64
 6   price    53940 non-null  int64
 7   x        53940 non-null  float64
 8   y        53940 non-null  float64
 9   z        53940 non-null  float64
dtypes: float64(6), int64(1), object(3)
memory usage: 4.1+ MB

In [5]:
# null ဖြစ်/မဖြစ်ကြည့်ခြင်း
# အပေါ်က info နဲ့ကြည့်ရင်လဲရပါတယ်။
df.price.isna()

0        False
1        False
2        False
3        False
4        False
         ...
53935    False
53936    False
53937    False
53938    False
53939    False
Name: price, Length: 53940, dtype: bool

In [6]:
df.price.isna().value_counts()
# True ဖြစ်ရင် null ဖြစ်လို့ဖြစ်ပြီး False ဖြစ်ရင် data ရှိလို့ဖြစ်ပါတယ်။

False    53940
Name: price, dtype: int64

In [7]:
df.price.notna().value_counts()
# notna ကျတော့ data ရှိတဲ့ row ကိုရှာတာဖြစ်ပါတယ်။

True    53940
Name: price, dtype: int64

In [8]:
# တကယ်လို့ ကိုယ့် df ထဲက null ဖြစ်နေတဲ့ data တွေကို မလိုချင်ရင် dropna နဲ့ဖယ်လို့ရပါတယ်။
# df.column.dropna(inplace=True)

# နောက်တမျိုးကျတော့ null ဖြစ်နေတဲ့နေရာတွေကို data ဖြည့်လို့ရပါတယ်။
# df.column.fillna(0/np.mean)

# လွယ်တဲ့အတွက် ကျနော်အသေးစိတ်မလုပ်ပြတော့ပါဘူး။

In [9]:
df.price.head()
# ဈေးနှုန်းတန်ဖိုးတွေကို $ sign တပ်မယ်ဆိုရင် အရင်နေ့က function တွေသုံးပြီး တပ်လို့ရပါတယ်။

0    326
1    326
2    327
3    334
4    335
Name: price, dtype: int64

In [10]:
fun=lambda x:f'$ {x}'
df.price.apply(fun).head()

0    $ 326
1    $ 326
2    $ 327
3    $ 334
4    $ 335
Name: price, dtype: object

In [11]:
# Group လုပ်ခြင်း
df.groupby('color')

In [12]:
df.groupby('color').price
# df.groupby('color')['price']

In [13]:
# color အလိုက်အနည်းဆုံးတန်ဘိုးကိုရှာခြင်း
df.groupby('color').price.min()

color
D    357
E    326
F    342
G    354
H    337
I    334
J    335
Name: price, dtype: int64

In [14]:
# color အလိုက်အများဆုံးတန်ဘိုးကိုရှာခြင်း
df.groupby('color').price.max()

color
D    18693
E    18731
F    18791
G    18818
H    18803
I    18823
J    18710
Name: price, dtype: int64

In [15]:
# color အလိုက်တန်ဘိုးများအားပေါင်းခြင်း
df.groupby('color').price.sum()

color
D    21476439
E    30142944
F    35542866
G    45158240
H    37257301
I    27608146
J    14949281
Name: price, dtype: int64

In [16]:
# ဒီနေရာမှာ col_1 နေရာမှာ category data(text data) ကိုရေးလေ့ရှိပြီး
# col_2 မှာ number ကိုရေးလေ့ရှိပါတယ်။

In [17]:
# group object ပြုလုပ်၍ တန်ဘိုးများအား ရှာခြင်း
gbo=df.groupby('color').price
gbo.ngroups

7

In [18]:
# group အလိုက်တန်ဘိုးများအား ကြည့်ခြင်း
gbo.groups
# group object လုပ်လိုက်တဲ့အချိန်မှာ group အလိုက် name နဲ့ တန်ဖိုးတွေကိုတွေ့ရမှာဖြစ်ပါတယ်။

{'D': [28, 34, 38, 42, 43, 54, 61, 62, 63, 70, 77, 78, 81, 100, 120, 127, 131, 132, 142, 144, 147, 148, 150, 152, 155, 159, 170, 171, 186, 219, 223, 224, 225, 226, 234, 238, 280, 288, 289, 290, 292, 303, 341, 345, 349, 350, 351, 372, 374, 379, 383, 422, 432, 447, 485, 495, 496, 497, 498, 500, 503, 505, 506, 509, 510, 516, 531, 536, 537, 541, 570, 571, 577, 624, 628, 629, 636, 645, 660, 673, 675, 676, 684, 695, 696, 711, 767, 768, 771, 772, 773, 776, 782, 784, 790, 791, 793, 804, 807, 808, ...], 'E': [0, 1, 2, 8, 14, 15, 21, 32, 33, 36, 48, 53, 69, 76, 79, 80, 82, 84, 90, 91, 93, 95, 98, 101, 109, 111, 118, 121, 133, 135, 149, 169, 173, 174, 178, 179, 180, 181, 191, 192, 193, 194, 195, 196, 197, 198, 200, 201, 202, 203, 206, 209, 221, 222, 241, 244, 245, 246, 249, 252, 253, 262, 263, 264, 265, 271, 272, 275, 276, 285, 287, 298, 301, 306, 327, 330, 332, 342, 343, 344, 355, 356, 371, 388, 405, 406, 415, 419, 424, 427, 429, 430, 431, 442, 443, 451, 453, 454, 456, 457, ...], 'F': [12, 29, 30, 31, 35, 45, 50, 75, 96, 97, 108, 110, 114, 115, 116, 119, 122, 123, 124, 125, 136, 137, 143, 154, 156, 162, 164, 166, 168, 176, 187, 188, 189, 190, 199, 205, 207, 210, 212, 215, 228, 229, 230, 232, 233, 240, 243, 258, 259, 260, 266, 267, 269, 278, 279, 291, 297, 302, 315, 316, 317, 319, 320, 321, 322, 326, 328, 329, 334, 335, 346, 347, 353, 354, 357, 359, 363, 364, 365, 368, 373, 375, 376, 377, 378, 380, 382, 387, 389, 407, 413, 416, 420, 421, 425, 433, 440, 448, 455, 466, ...], 'G': [25, 51, 65, 67, 68, 85, 92, 94, 102, 103, 105, 106, 113, 117, 139, 140, 141, 146, 153, 157, 158, 160, 163, 167, 177, 182, 183, 184, 185, 211, 213, 214, 220, 227, 239, 248, 250, 251, 256, 270, 283, 293, 296, 304, 308, 309, 311, 313, 314, 323, 325, 331, 333, 336, 337, 338, 339, 340, 358, 360, 361, 369, 370, 381, 386, 412, 414, 418, 426, 434, 444, 446, 473, 477, 521, 523, 555, 560, 563, 564, 575, 581, 599, 604, 613, 615, 616, 618, 635, 638, 646, 650, 669, 670, 674, 690, 694, 714, 717, 723, ...], 'H': [7, 9, 22, 37, 44, 46, 47, 49, 71, 72, 73, 74, 86, 87, 88, 99, 126, 128, 129, 130, 134, 138, 145, 161, 165, 204, 208, 216, 217, 218, 231, 235, 242, 254, 268, 274, 282, 286, 294, 295, 299, 310, 318, 348, 362, 367, 396, 397, 398, 399, 400, 401, 402, 404, 408, 409, 435, 436, 437, 438, 441, 449, 450, 465, 467, 472, 474, 514, 522, 524, 526, 538, 539, 540, 542, 550, 565, 573, 576, 589, 594, 620, 626, 655, 658, 659, 662, 663, 664, 671, 682, 686, 699, 701, 706, 715, 722, 737, 738, 750, ...], 'I': [3, 6, 16, 20, 26, 39, 40, 52, 55, 57, 58, 59, 60, 64, 66, 83, 89, 104, 107, 112, 151, 175, 236, 237, 257, 261, 273, 277, 281, 284, 300, 305, 307, 312, 352, 385, 390, 391, 392, 393, 394, 395, 403, 410, 411, 417, 428, 445, 452, 493, 511, 517, 529, 533, 554, 562, 568, 579, 639, 653, 654, 689, 692, 698, 713, 719, 730, 731, 732, 733, 734, 735, 747, 748, 749, 756, 787, 803, 821, 827, 840, 857, 861, 865, 878, 880, 883, 884, 898, 910, 934, 936, 944, 991, 992, 1034, 1037, 1040, 1057, 1058, ...], 'J': [4, 5, 10, 11, 13, 17, 18, 19, 23, 24, 27, 41, 56, 172, 247, 255, 324, 366, 384, 423, 439, 460, 499, 525, 567, 580, 681, 703, 704, 705, 710, 744, 745, 746, 765, 780, 813, 814, 860, 881, 882, 885, 897, 918, 921, 999, 1036, 1038, 1224, 1275, 1310, 1359, 1360, 1364, 1429, 1474, 1498, 1510, 1523, 1535, 1597, 1661, 1662, 1675, 1763, 1778, 1825, 1834, 1843, 1869, 1906, 1921, 1958, 1959, 1973, 2006, 2008, 2026, 2086, 2114, 2117, 2118, 2145, 2159, 2206, 2221, 2236, 2248, 2249, 2250, 2266, 2272, 2274, 2288, 2326, 2330, 2331, 2360, 2363, 2365, ...]}

In [19]:
# group ထဲမှ တန်ဖိုးတခုအား ဆွဲထုတ်ခြင်း
gbo.get_group('D')

28        357
34        402
38        403
42        403
43        403
         ...
53934    2757
53935    2757
53936    2757
53937    2757
53939    2757
Name: price, Length: 6775, dtype: int64

In [20]:
for name,group in gbo:
  print(f'{name}----{group}')

D----28        357
34        402
38        403
42        403
43        403
         ...
53934    2757
53935    2757
53936    2757
53937    2757
53939    2757
Name: price, Length: 6775, dtype: int64
E----0         326
1         326
2         327
8         337
14        345
         ...
53926    2756
53928    2756
53930    2756
53932    2757
53933    2757
Name: price, Length: 9797, dtype: int64
F----12        342
29        357
30        402
31        402
35        402
         ...
53893    2751
53895    2751
53912    2753
53927    2756
53931    2756
Name: price, Length: 9542, dtype: int64
G----25        354
51        404
65        553
67        553
68        553
         ...
53889    2749
53894    2751
53896    2751
53913    2753
53929    2756
Name: price, Length: 11292, dtype: int64
H----7         337
9         338
22        353
37        402
44        403
         ...
53872    2744
53897    2751
53899    2752
53900    2752
53938    2757
Name: price, Length: 8304, dtype: int64
I----3         334
6         336
16        348
20        351
26        355
         ...
53918    2753
53919    2753
53923    2756
53924    2756
53925    2756
Name: price, Length: 5422, dtype: int64
J----4         335
5         336
10        339
11        340
13        344
         ...
53702    2717
53787    2729
53848    2741
53852    2742
53917    2753
Name: price, Length: 2808, dtype: int64

In [21]:
gbo.agg(['min','max','median','mean',np.sum])
# group ထဲမှ တန်ဖိုးများ၏ min,max,... အစရှိသည်တို့ကိုရှာခြင်း

       min    max  median         mean       sum
color
D      357  18693  1838.0  3169.954096  21476439
E      326  18731  1739.0  3076.752475  30142944
F      342  18791  2343.5  3724.886397  35542866
G      354  18818  2242.0  3999.135671  45158240
H      337  18803  3460.0  4486.669196  37257301
I      334  18823  3730.0  5091.874954  27608146
J      335  18710  4234.0  5323.818020  14949281

In [22]:
# function ဆောက်ပြီးလဲ group တန်ဘိုးများကို ရှာလို့ရပါတယ်။
def range(g):
  return g.max()-g.min()

In [23]:
df.groupby('color')['price'].agg(['min','max',range])

       min    max  range
color
D      357  18693  18336
E      326  18731  18405
F      342  18791  18449
G      354  18818  18464
H      337  18803  18466
I      334  18823  18489
J      335  18710  18375

In [24]:
df.groupby('cut').agg({'price':['min',range],'table':['min','mean']})

          price        table
            min  range   min       mean
cut
Fair        337  18237  49.0  59.053789
Good        327  18461  51.0  58.694639
Ideal       326  18480  43.0  55.951668
Premium     326  18497  51.0  58.746095
Very Good   336  18482  44.0  57.956150

In [25]:
# ဒီလောက်ဆိုရင် group အကြောင်းသဘောပေါက်ပြီလို့ယူဆပါတယ်။
# merge နဲ့ concat လုပ်တာက လက်တွေ့ဘဝမှာ အသုံးနည်းတဲ့အတွက် ဆက်မရှင်းပြတော့ပါဘူး။
# ဒါပေမယ့် သူတို့ကို geopandas မှာဆက်ရှင်းပြထားပါတယ်။

In [26]:
# (12-8-2022)