<a href="https://colab.research.google.com/github/tomcat472/pandas_mm_tomcat/blob/main/Pandas_12.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# importing library
import pandas as pd

In [2]:
# google drive နှင့်လင့်ချိတ်ခြင်း
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [3]:
df=pd.read_excel('/content/drive/MyDrive/StockX-Data-Contest-2019-3.xlsx',sheet_name='Raw Data')
df
# အရင် file 11 မှာတုန်းက excel ရဲ့ sheet တွေအကြောင်းပြောပြဖို့ကျန်ခဲ့ပါတယ်။
# excel မှာက sheet တွေအများကြီးရှိနိုင်ပါတယ်။
# အဲ့လို file တွေကို တောက်လျောက်သုံးလို့မရပါဘူး။ အဲ့တာကြောင့်မို့ sheet_name ကိုရေးပေးပြီးမှ သုံးလို့ရပါတယ်။
# အဲ့လိုပဲ excel file တွေ save မယ်ဆိုရင်လဲ sheet_name တွေရေးပြီး save လို့ရပါတယ်။

,Order Date,Brand,Sneaker Name,Sale Price,Retail Price,Release Date,Shoe Size,Buyer Region
0,2017-09-01,Yeezy,Adidas-Yeezy-Boost-350-Low-V2-Beluga,1097.0,220,2016-09-24,11.0,California
1,2017-09-01,Yeezy,Adidas-Yeezy-Boost-350-V2-Core-Black-Copper,685.0,220,2016-11-23,11.0,California
2,2017-09-01,Yeezy,Adidas-Yeezy-Boost-350-V2-Core-Black-Green,690.0,220,2016-11-23,11.0,California
3,2017-09-01,Yeezy,Adidas-Yeezy-Boost-350-V2-Core-Black-Red,1075.0,220,2016-11-23,11.5,Kentucky
4,2017-09-01,Yeezy,Adidas-Yeezy-Boost-350-V2-Core-Black-Red-2017,828.0,220,2017-02-11,11.0,Rhode Island
...,...,...,...,...,...,...,...,...
99951,2019-02-13,Yeezy,adidas-Yeezy-Boost-350-V2-Static-Reflective,565.0,220,2018-12-26,8.0,Oregon
99952,2019-02-13,Yeezy,adidas-Yeezy-Boost-350-V2-Static-Reflective,598.0,220,2018-12-26,8.5,California
99953,2019-02-13,Yeezy,adidas-Yeezy-Boost-350-V2-Static-Reflective,605.0,220,2018-12-26,5.5,New York
99954,2019-02-13,Yeezy,adidas-Yeezy-Boost-350-V2-Static-Reflective,650.0,220,2018-12-26,11.0,California
99955,2019-02-13,Yeezy,adidas-Yeezy-Boost-350-V2-Static-Reflective,640.0,220,2018-12-26,11.5,Texas

In [4]:
# ဒီတခါမှာတော့ date/time တွေနဲ့ပတ်သက်တဲ့ အကြောင်းအရာတွေကို ဆက်ရှင်းပြသွားပါမယ်။
# ပထမဆုံးကိုယ့်ရဲ့ df ထဲက date column က date format ဖြစ်/မဖြစ်ကို အရင်စစ်ပါမယ်။
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99956 entries, 0 to 99955
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Order Date    99956 non-null  datetime64[ns]
 1   Brand         99956 non-null  object
 2   Sneaker Name  99956 non-null  object
 3   Sale Price    99956 non-null  float64
 4   Retail Price  99956 non-null  int64
 5   Release Date  99956 non-null  datetime64[ns]
 6   Shoe Size     99956 non-null  float64
 7   Buyer Region  99956 non-null  object
dtypes: datetime64[ns](2), float64(2), int64(1), object(3)
memory usage: 6.1+ MB

In [5]:
# info ကိုကြည့်လိုက်တော့ date format ပြောင်းပြီးသားဆိုတော့ ပြန်ပြောင်းစရာမလိုတော့ပါဘူး။
# တကယ်လို့ မပြောင်းရသေးဘူးဆိုရင် pd.to_datetime(df.date_column) ပုံစံနဲ့ပြောင်းရမှာဖြစ်ပါတယ်။
# ဒီလိုမလုပ်ချင်ဘူးဆိုရင်လည်း ဖိုင်ကို read ရင် parse_date=['date_column']ကိုရေးပေးရင်လည်းရပါတယ်။
# date format မမှန်ရင်လည်း format='%y/%m/%d'အစရှိသည့်ပုံစံကို စိတ်ကြိုက်ကစားပေးရမှာဖြစ်ပါတယ်။
# y က year, m က month ဖြစ်ပြီး d က day ဖြစ်ပါတယ်။

In [6]:
# ဒါဆိုရင် စပြီးသုံးကြည့်ရအောင်
df['Order Date'].head()

0   2017-09-01
1   2017-09-01
2   2017-09-01
3   2017-09-01
4   2017-09-01
Name: Order Date, dtype: datetime64[ns]

In [7]:
# ခုနှစ်သီးသန့်ထုတ်ကြည့်မယ်။
df['Order Date'].dt.year

0        2017
1        2017
2        2017
3        2017
4        2017
         ...
99951    2019
99952    2019
99953    2019
99954    2019
99955    2019
Name: Order Date, Length: 99956, dtype: int64

In [8]:
# လ သီးသန့်ထုတ်ကြည့်မယ်။
df['Order Date'].dt.month

0        9
1        9
2        9
3        9
4        9
        ..
99951    2
99952    2
99953    2
99954    2
99955    2
Name: Order Date, Length: 99956, dtype: int64

In [9]:
# ရက် သီးသန့်ထုတ်ကြည့်မယ်။
df['Order Date'].dt.day

0         1
1         1
2         1
3         1
4         1
         ..
99951    13
99952    13
99953    13
99954    13
99955    13
Name: Order Date, Length: 99956, dtype: int64

In [10]:
# day of week အားရှာဖွေခြင်း
df['Order Date'].dt.dayofweek
# mon-0/tue-1/wed-2/...../sun-6
# ဒီလိုဟာကိုဘယ်မှာသုံးလဲဆိုတော့ unsupervised learning မှာသုံးလေ့ရှိပါတယ်။

0        4
1        4
2        4
3        4
4        4
        ..
99951    2
99952    2
99953    2
99954    2
99955    2
Name: Order Date, Length: 99956, dtype: int64

In [11]:
# နာရီတွေ/မိနစ်တွေပါရင်လည်းထုတ်လို့ရပါတယ်။

In [12]:
# လနာမည်များကြည့်ခြင်း
df['Order Date'].dt.month_name()

0        September
1        September
2        September
3        September
4        September
           ...
99951     February
99952     February
99953     February
99954     February
99955     February
Name: Order Date, Length: 99956, dtype: object

In [13]:
df['Order Date'].dt.month_name().value_counts()
# Date များ၏ အရေအတွက်ဟာ တန်ဘိုးအပေါ်ပဲအခြေခံနေတဲ့အတွက် လအလိုက်ရချင်ရင် index ကို sorting လုပ်ပေးရပါမယ်။

December     22292
November     15489
January      14511
February      7774
July          7434
October       7307
August        6090
June          5431
September     4671
May           3456
April         2756
March         2745
Name: Order Date, dtype: int64

In [14]:
# sorting လုပ်တဲ့အခါမှာ ကိုယ်ရချင်တဲ့ index အတိုင်းရဖို့အတွက် list ထဲမှာ ပြန်ရေးပြီး sort လုပ်ပေးဖို့တော့လိုပါတယ်။
new_order = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']
df['Order Date'].dt.month_name().value_counts().reindex(new_order, axis=0)

January      14511
February      7774
March         2745
April         2756
May           3456
June          5431
July          7434
August        6090
September     4671
October       7307
November     15489
December     22292
Name: Order Date, dtype: int64

In [15]:
# လနာမည်များကြည့်ခြင်း
df['Order Date'].dt.day_name()

0           Friday
1           Friday
2           Friday
3           Friday
4           Friday
           ...
99951    Wednesday
99952    Wednesday
99953    Wednesday
99954    Wednesday
99955    Wednesday
Name: Order Date, Length: 99956, dtype: object

In [16]:
df['Order Date'].dt.day_name().value_counts()

Friday       17309
Wednesday    15424
Thursday     14997
Saturday     14005
Monday       13734
Tuesday      13391
Sunday       11096
Name: Order Date, dtype: int64

In [17]:
# column ထဲက နောက်ဆုံးရက်နဲ့ ပထမဆုံးရက်ကို ကြည့်ခြင်း
print(df['Order Date'].min()) #ပထမဆုံးရက်
print(df['Order Date'].max()) #နောက်ဆုံးရက်

2017-09-01 00:00:00
2019-02-13 00:00:00

### **Date Time Operation**

In [18]:
# နောက်ဆုံးရက်မှ ပထမရက်ထိ ရက်များအားကြည့်ခြင်း
df['Order Date'].max()-df['Order Date'].min()

Timedelta('530 days 00:00:00')

In [19]:
# မိမိရချင်တဲ့ date အားရှာခြင်း
df[df['Order Date']=='2017-10-3']

,Order Date,Brand,Sneaker Name,Sale Price,Retail Price,Release Date,Shoe Size,Buyer Region
735,2017-10-03,Yeezy,Adidas-Yeezy-Boost-350-Low-V2-Beluga,1155.0,220,2016-09-24,11.5,Kentucky
736,2017-10-03,Yeezy,Adidas-Yeezy-Boost-350-Low-V2-Beluga,976.0,220,2016-09-24,10.5,California
737,2017-10-03,Yeezy,Adidas-Yeezy-Boost-350-V2-Core-Black-Green,610.0,220,2016-11-23,4.0,Oklahoma
738,2017-10-03,Yeezy,Adidas-Yeezy-Boost-350-V2-Core-Black-Red-2017,766.0,220,2017-02-11,10.0,California
739,2017-10-03,Yeezy,Adidas-Yeezy-Boost-350-V2-Core-Black-Red-2017,874.0,220,2017-02-11,11.5,Washington
740,2017-10-03,Yeezy,Adidas-Yeezy-Boost-350-V2-Core-Black-Red-2017,830.0,220,2017-02-11,7.0,New York
741,2017-10-03,Yeezy,Adidas-Yeezy-Boost-350-V2-Core-Black-Red-2017,790.0,220,2017-02-11,11.5,New York
742,2017-10-03,Yeezy,Adidas-Yeezy-Boost-350-V2-Core-Black-White,777.0,220,2016-12-17,11.0,Kentucky
743,2017-10-03,Yeezy,Adidas-Yeezy-Boost-350-V2-Cream-White,499.0,220,2017-04-29,12.0,Texas
744,2017-10-03,Yeezy,Adidas-Yeezy-Boost-350-V2-Cream-White,465.0,220,2017-04-29,9.0,New York
745,2017-10-03,Yeezy,Adidas-Yeezy-Boost-350-V2-Cream-White,572.0,220,2017-04-29,4.0,New York
746,2017-10-03,Yeezy,Adidas-Yeezy-Boost-350-V2-Cream-White,700.0,220,2017-04-29,16.0,Virginia
747,2017-10-03,Yeezy,Adidas-Yeezy-Boost-350-V2-Zebra,650.0,220,2017-02-25,12.0,Kentucky
748,2017-10-03,Yeezy,Adidas-Yeezy-Boost-350-V2-Zebra,670.0,220,2017-02-25,12.0,Indiana
749,2017-10-03,Yeezy,Adidas-Yeezy-Boost-350-V2-Zebra,720.0,220,2017-02-25,5.5,Oklahoma
750,2017-10-03,Yeezy,Adidas-Yeezy-Boost-350-V2-Zebra,569.0,220,2017-02-25,8.0,Iowa
751,2017-10-03,Yeezy,Adidas-Yeezy-Boost-350-V2-Zebra,560.0,220,2017-02-25,8.5,New York
752,2017-10-03,Yeezy,Adidas-Yeezy-Boost-350-V2-Zebra,550.0,220,2017-02-25,6.5,Florida
753,2017-10-03,Yeezy,Adidas-Yeezy-Boost-350-V2-Zebra,450.0,220,2017-02-25,14.0,Florida
754,2017-10-03,Yeezy,Adidas-Yeezy-Boost-350-V2-Zebra,665.0,220,2017-02-25,12.0,Texas
755,2017-10-03,Yeezy,Adidas-Yeezy-Boost-350-V2-Zebra,669.0,220,2017-02-25,12.0,Oregon
756,2017-10-03,Yeezy,Adidas-Yeezy-Boost-350-V2-Zebra,675.0,220,2017-02-25,12.0,California
757,2017-10-03,Off-White,Air-Jordan-1-Retro-High-Off-White-Chicago,1756.0,190,2017-09-09,10.0,Illinois
758,2017-10-03,Off-White,Air-Jordan-1-Retro-High-Off-White-Chicago,1947.0,190,2017-09-09,10.5,Texas
759,2017-10-03,Off-White,Nike-Air-Max-90-Off-White,850.0,160,2017-09-09,9.5,Utah
760,2017-10-03,Off-White,Nike-Air-Presto-Off-White,1060.0,160,2017-09-09,6.0,California
761,2017-10-03,Off-White,Nike-Air-Presto-Off-White,1250.0,160,2017-09-09,10.0,Michigan
762,2017-10-03,Off-White,Nike-Air-VaporMax-Off-White,965.0,250,2017-09-09,12.0,Ohio
763,2017-10-03,Off-White,Nike-Blazer-Mid-Off-White,745.0,130,2017-09-09,12.0,California

In [20]:
# တခြားရှာလို့ရတဲ့နည်းတွေက မိမိရှာချင်တဲ့ column ကို index ထားပြီး indexing နဲ့ slicing လုပ်ပြီးလဲ ရှာလို့ရတယ်။
# နောက်ထပ်နည်းတွေက conditional operator တွေနဲ့ between method ကိုသုံးပြီးလည်း ရှာလို့ရပါတယ်။

In [21]:
# (၁၁-၈-၂၀၂၂)