<a href="https://colab.research.google.com/github/tomcat472/pandas_mm_tomcat/blob/main/Pandas_9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# importing libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
# google drive နှင့်လင့်ချိတ်ခြင်း
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [3]:
df=pd.read_csv('/content/drive/MyDrive/diamonds.csv')
df.head()

   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75

In [4]:
# မိမိရချင်သော data များကိုထုတ်ခြင်း
## ပထမဆုံးအနေဖြင့် string များကို ထုတ်တဲ့ဟာအရင်လုပ်ပါမယ်။
df.cut.str.contains('Good')
# ဒီမှာဆိုရင် Good စာလုံးပေါင်းပါသမျှဟာအားလုံးကို ထုတ်ပေးတာဖြစ်ပါတယ်။
# data frame အနေဖြင့်မြင့်ချင်ရင်သော nested လုပ်မှ မြင်ရမှာဖြစ်ပါတယ်။

0        False
1        False
2         True
3        False
4         True
         ...
53935    False
53936     True
53937     True
53938    False
53939    False
Name: cut, Length: 53940, dtype: bool

In [5]:
df[df.cut.str.contains('Good')]

       carat        cut color clarity  depth  table  price     x     y     z
2       0.23       Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
4       0.31       Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75
5       0.24  Very Good     J    VVS2   62.8   57.0    336  3.94  3.96  2.48
6       0.24  Very Good     I    VVS1   62.3   57.0    336  3.95  3.98  2.47
7       0.26  Very Good     H     SI1   61.9   55.0    337  4.07  4.11  2.53
...      ...        ...   ...     ...    ...    ...    ...   ...   ...   ...
53927   0.79       Good     F     SI1   58.1   59.0   2756  6.06  6.13  3.54
53932   0.70  Very Good     E     VS2   60.5   59.0   2757  5.71  5.76  3.47
53933   0.70  Very Good     E     VS2   61.2   59.0   2757  5.69  5.72  3.49
53936   0.72       Good     D     SI1   63.1   55.0   2757  5.69  5.75  3.61
53937   0.70  Very Good     D     SI1   62.8   60.0   2757  5.66  5.68  3.56

[16988 rows x 10 columns]

In [6]:
# အပေါ်ကစစ်ထုတ်တာရဲ့ ဆန့်ကျင်ဘက်ကို ရချင်ရင် ~ sign သုံးပေးရပါတယ်။ ၎င်းသင်္ကေတသည် negative ဖြစ်ပါတယ်။
df[~(df.cut.str.contains('Good'))]

       carat      cut color clarity  depth  table  price     x     y     z
0       0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1       0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
3       0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
8       0.22     Fair     E     VS2   65.1   61.0    337  3.87  3.78  2.49
11      0.23    Ideal     J     VS1   62.8   56.0    340  3.93  3.90  2.46
...      ...      ...   ...     ...    ...    ...    ...   ...   ...   ...
53931   0.71  Premium     F     SI1   59.8   62.0   2756  5.74  5.73  3.43
53934   0.72  Premium     D     SI1   62.7   59.0   2757  5.69  5.73  3.58
53935   0.72    Ideal     D     SI1   60.8   57.0   2757  5.75  5.76  3.50
53938   0.86  Premium     H     SI2   61.0   58.0   2757  6.15  6.12  3.74
53939   0.75    Ideal     D     SI2   62.2   55.0   2757  5.83  5.87  3.64

[36952 rows x 10 columns]

In [7]:
# အပေါ်က နည်းကိုသုံးမယ်ဆိုရင် ကိုယ်စာမယ့်စာလုံးအကြီးအသေးကို သတိထားပြီးလုပ်ရပါတယ်။
# အဲ့လိုပြဿနာများရှိသည့်အတွက် re library နှင့်တွဲသုံးမှ အဆင်ပြေပါတယ်။

In [8]:
import re
df.loc[df['cut'].str.contains('good[a-z]*',flags=re.I,regex=True)]
# ဒီနည်းနဲ့ ရှာရင်ကျတော့ good ပါတဲ့ row အားလုံးကို ထုတ်ပေးပါတယ်။

       carat        cut color clarity  depth  table  price     x     y     z
2       0.23       Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
4       0.31       Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75
5       0.24  Very Good     J    VVS2   62.8   57.0    336  3.94  3.96  2.48
6       0.24  Very Good     I    VVS1   62.3   57.0    336  3.95  3.98  2.47
7       0.26  Very Good     H     SI1   61.9   55.0    337  4.07  4.11  2.53
...      ...        ...   ...     ...    ...    ...    ...   ...   ...   ...
53927   0.79       Good     F     SI1   58.1   59.0   2756  6.06  6.13  3.54
53932   0.70  Very Good     E     VS2   60.5   59.0   2757  5.71  5.76  3.47
53933   0.70  Very Good     E     VS2   61.2   59.0   2757  5.69  5.72  3.49
53936   0.72       Good     D     SI1   63.1   55.0   2757  5.69  5.75  3.61
53937   0.70  Very Good     D     SI1   62.8   60.0   2757  5.66  5.68  3.56

[16988 rows x 10 columns]

In [9]:
df.loc[df['cut'].str.contains('^good[a-z]*',flags=re.I,regex=True)]
# ဒီနည်းနှင့်ရှာရင်ကျတော့ good သီးသန့်ပဲထုတ်ပေးပါတယ်။

       carat   cut color clarity  depth  table  price     x     y     z
2       0.23  Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
4       0.31  Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75
10      0.30  Good     J     SI1   64.0   55.0    339  4.25  4.28  2.73
17      0.30  Good     J     SI1   63.4   54.0    351  4.23  4.29  2.70
18      0.30  Good     J     SI1   63.8   56.0    351  4.23  4.26  2.71
...      ...   ...   ...     ...    ...    ...    ...   ...   ...   ...
53913   0.80  Good     G     VS2   64.2   58.0   2753  5.84  5.81  3.74
53914   0.84  Good     I     VS1   63.7   59.0   2753  5.94  5.90  3.77
53916   0.74  Good     D     SI1   63.1   59.0   2753  5.71  5.74  3.61
53927   0.79  Good     F     SI1   58.1   59.0   2756  6.06  6.13  3.54
53936   0.72  Good     D     SI1   63.1   55.0   2757  5.69  5.75  3.61

[4906 rows x 10 columns]

In [10]:
# မိမိရချင်သော စာသားများအား isin method ဖြင့်ထုတ်ခြင်း
A=['Good','Very Good']
df[df.cut.isin(A)]
# df[df.cut.isin(['Good','Very Good'])]

       carat        cut color clarity  depth  table  price     x     y     z
2       0.23       Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
4       0.31       Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75
5       0.24  Very Good     J    VVS2   62.8   57.0    336  3.94  3.96  2.48
6       0.24  Very Good     I    VVS1   62.3   57.0    336  3.95  3.98  2.47
7       0.26  Very Good     H     SI1   61.9   55.0    337  4.07  4.11  2.53
...      ...        ...   ...     ...    ...    ...    ...   ...   ...   ...
53927   0.79       Good     F     SI1   58.1   59.0   2756  6.06  6.13  3.54
53932   0.70  Very Good     E     VS2   60.5   59.0   2757  5.71  5.76  3.47
53933   0.70  Very Good     E     VS2   61.2   59.0   2757  5.69  5.72  3.49
53936   0.72       Good     D     SI1   63.1   55.0   2757  5.69  5.75  3.61
53937   0.70  Very Good     D     SI1   62.8   60.0   2757  5.66  5.68  3.56

[16988 rows x 10 columns]

In [11]:
# ကြားတန်ဖိုးများကိုရှာခြင်း
# 100 <= x <= 200 
# ဒီမှာဆိုရင် x က ၁၀၀ ကနေ ၂၀၀ ကြားလို့အဓိပ္ပါယ်ရပါတယ်။
# အဲ့ဒီလိုပုံစံမျိုးကိုရှာမှာဖြစ်ပါတယ်။

In [12]:
# price colunm က ၄၀၀ နဲ့ ၅၀၀ ကြားကို ရှာခြင်း
df.loc[(df.price>=400) & (df.price<=500)]
# ဒီနည်းကို အရှေ့မှာ ရှင်းပြပြီးကြောင့်မို့ ဆက်မရှင်းပြတော့ပါဘူး။

       carat        cut color clarity  depth  table  price     x     y     z
30      0.23  Very Good     F     VS1   60.0   57.0    402  4.00  4.03  2.41
31      0.23  Very Good     F     VS1   59.8   57.0    402  4.04  4.06  2.42
32      0.23  Very Good     E     VS1   60.7   59.0    402  3.97  4.01  2.42
33      0.23  Very Good     E     VS1   59.5   58.0    402  4.01  4.06  2.40
34      0.23  Very Good     D     VS1   61.9   58.0    402  3.92  3.96  2.44
...      ...        ...   ...     ...    ...    ...    ...   ...   ...   ...
50635   0.23  Very Good     F     VS2   61.0   59.0    402  3.95  3.99  2.42
50636   0.23  Very Good     F     VS2   59.1   59.0    402  4.02  4.07  2.39
50637   0.23  Very Good     F     VS2   61.6   59.0    402  3.96  4.00  2.45
50638   0.23  Very Good     F     VS2   59.4   57.0    402  4.06  4.09  2.42
50639   0.23  Very Good     F     VS1   61.9   58.0    402  3.90  4.02  2.45

[1502 rows x 10 columns]

In [13]:
# အပေါ်ကနည်းထက် ဒီနည်းက မှတ်ရတာ ပိုလွယ်ပါတယ်။
df[df.price.between(400,500)]

       carat        cut color clarity  depth  table  price     x     y     z
30      0.23  Very Good     F     VS1   60.0   57.0    402  4.00  4.03  2.41
31      0.23  Very Good     F     VS1   59.8   57.0    402  4.04  4.06  2.42
32      0.23  Very Good     E     VS1   60.7   59.0    402  3.97  4.01  2.42
33      0.23  Very Good     E     VS1   59.5   58.0    402  4.01  4.06  2.40
34      0.23  Very Good     D     VS1   61.9   58.0    402  3.92  3.96  2.44
...      ...        ...   ...     ...    ...    ...    ...   ...   ...   ...
50635   0.23  Very Good     F     VS2   61.0   59.0    402  3.95  3.99  2.42
50636   0.23  Very Good     F     VS2   59.1   59.0    402  4.02  4.07  2.39
50637   0.23  Very Good     F     VS2   61.6   59.0    402  3.96  4.00  2.45
50638   0.23  Very Good     F     VS2   59.4   57.0    402  4.06  4.09  2.42
50639   0.23  Very Good     F     VS1   61.9   58.0    402  3.90  4.02  2.45

[1502 rows x 10 columns]

In [14]:
# 400 နှင့် 500 ကြားရှိတန်ဘိုးများအား ရေတွက်ခြင်း
df[df.price.between(400,500)].value_counts()

carat  cut        color  clarity  depth  table  price  x     y     z
0.31   Very Good  H      VS2      63.0   57.0   489    4.32  4.34  2.73    2
0.30   Ideal      H      SI1      62.2   57.0   450    4.26  4.29  2.66    2
                                                       4.27  4.28  2.66    2
0.31   Ideal      J      VS1      61.9   54.7   429    4.34  4.36  2.69    1
       Premium    D      SI2      60.1   58.0   462    4.38  4.40  2.64    1
                                                                          ..
0.28   Very Good  F      VS2      62.7   58.0   487    4.14  4.15  2.60    1
                                  61.7   58.0   487    4.17  4.19  2.58    1
                                  60.8   58.0   487    4.19  4.26  2.57    1
                         VS1      62.1   59.0   487    4.16  4.21  2.60    1
0.43   Premium    H      I1       62.0   59.0   452    4.78  4.83  2.98    1
Length: 1499, dtype: int64

In [ ]:
# 10-8-2022